In [1]:
import findspark
findspark.init()
findspark.find()

'/usr/local/spark'

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
try:
    spark.sparkContext.stop()  # zamyka SparkSession, tylko wtedy mozna zmienic parametry mongodb
except NameError:
    print("")
spark = (SparkSession.builder.appName("projekt")
         .config("spark.jars.packages", "org.mongodb.spark:mongo-spark-connector:10.0.5")
         .config("spark.mongodb.uri", "mongodb://127.0.0.1:27017/")
         .config("spark.mongodb.database", "projekt")
         .config("spark.mongodb.collection", "myNewCollection1")
         .set("spark.sql.legacy.parquet.int96RebaseModeInRead", "CORRECTED")
         .set("spark.sql.legacy.parquet.int96RebaseModeInWrite", "CORRECTED")
         .set("spark.sql.legacy.parquet.datetimeRebaseModeInRead", "CORRECTED")
         .set("spark.sql.legacy.parquet.datetimeRebaseModeInWrite", "CORRECTED")
         .enableHiveSupport()
         .getOrCreate())

23/01/08 00:13:55 WARN util.Utils: Your hostname, node1 resolves to a loopback address: 127.0.0.1; using 10.0.2.15 instead (on interface enp0s3)
23/01/08 00:13:55 WARN util.Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/usr/local/spark-3.1.2-bin-hadoop2.7/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/vagrant/.ivy2/cache
The jars for the packages stored in: /home/vagrant/.ivy2/jars
org.mongodb.spark#mongo-spark-connector added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-93096cf4-1d2d-402b-aa53-a7d7ed65d9a1;1.0
	confs: [default]
	found org.mongodb.spark#mongo-spark-connector;10.0.5 in central
	found org.mongodb#mongodb-driver-sync;4.5.1 in central
	[4.5.1] org.mongodb#mongodb-driver-sync;[4.5.0,4.5.99)
	found org.mongodb#bson;4.5.1 in central
	found org.mongodb#mongodb-driver-core;4.5.1 in central
:: resolution report :: resolve 2894ms :: artifacts dl 8ms
	:: modules in use:
	org.mongodb#bson;4.5.1 from central in [default]
	org.mongodb#mongodb-driver-core;4.5.1 from central in [default]
	org.mongodb#mongodb-driver-sync;4.5.1 from central in [default]
	org.mongodb.spark#mongo-spark-connector;10.0.5 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   1   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-93096cf4-1d2d-402b-aa53-a7d7ed65d9a1
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/24ms)
23/01/08 00:13:59 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
df = spark.read.format("mongodb").load()

In [5]:
df.show()

+--------------------+---+
|                 _id|  x|
+--------------------+---+
|63ba089c029e8a4bf...|1.0|
+--------------------+---+

In [ ]:
people.write.format("mongodb").mode("append").save()

## Czytanie danych do agregacji

In [7]:
#listowanie baz danych
spark.catalog.listTables()

[Table(name='employees', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='external_table_condo', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='external_table_nypd', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='salaries', database='default', description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='wifi', database='default', description=None, tableType='MANAGED', isTemporary=False)]

In [10]:
#wczytanie danych nydp
spark.sql("REFRESH TABLE external_table_nypd") 
df_nypd = spark.table("external_table_nypd")
#braki danych usuniete w preprocessingu
df_nypd.printSchema()

root
 |-- cmplnt_num: integer (nullable = true)
 |-- cmplnt_fr_ts: timestamp (nullable = true)
 |-- cmplnt_to_ts: timestamp (nullable = true)
 |-- addr_pct_cd: integer (nullable = true)
 |-- rpt_dt: date (nullable = true)
 |-- ky_cd: integer (nullable = true)
 |-- ofns_desc: string (nullable = true)
 |-- pd_cd: integer (nullable = true)
 |-- pd_desc: string (nullable = true)
 |-- crm_atpt_cptd_cd: string (nullable = true)
 |-- law_cat_cd: string (nullable = true)
 |-- boro_nm: string (nullable = true)
 |-- loc_of_occur_desc: string (nullable = true)
 |-- prem_typ_desc: string (nullable = true)
 |-- juris_desc: string (nullable = true)
 |-- jurisdiction_code: integer (nullable = true)
 |-- parks_nm: string (nullable = true)
 |-- hadevelopt: string (nullable = true)
 |-- housing_psa: string (nullable = true)
 |-- x_coord_cd: integer (nullable = true)
 |-- y_coord_cd: integer (nullable = true)
 |-- susp_age_group: string (nullable = true)
 |-- susp_race: string (nullable = true)
 |-- susp_sex: string (nullable = true)
 |-- transit_district: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- patrol_boro: string (nullable = true)
 |-- station_name: string (nullable = true)
 |-- vic_age_group: string (nullable = true)
 |-- vic_race: string (nullable = true)
 |-- vic_sex: string (nullable = true)

In [122]:
#wczytanie danych condo
spark.sql("REFRESH TABLE external_table_condo")  # refreshes table after adding files
df_condo = spark.table("external_table_condo")
#brak braków danych
df_condo.printSchema()

root
 |-- condo_section: string (nullable = true)
 |-- boro_block_lot: string (nullable = true)
 |-- address: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- building_classification: string (nullable = true)
 |-- total_units: integer (nullable = true)
 |-- year_built: integer (nullable = true)
 |-- gross_sqft: integer (nullable = true)
 |-- estimated_gross_income: integer (nullable = true)
 |-- gross_income_per_sqft: double (nullable = true)
 |-- estimated_expense: integer (nullable = true)
 |-- expense_per_sqft: double (nullable = true)
 |-- net_operating_income: integer (nullable = true)
 |-- full_market_value: integer (nullable = true)
 |-- market_value_per_sqft: double (nullable = true)
 |-- report_year: integer (nullable = true)

## Wstępna analiza agregacyjna dla danych policji
Poniżej zajmiemy się wstępną analizą dla danych policji, zobaczymy niektóre rozkłady zmiennych oraz zagregowane dane ze względu na interesujące nas cechy w bazie danych.  
Pierw ile mamy wierszy w oryginalnej ramce danych.

In [100]:
#importy
from pyspark.ml.linalg import DenseMatrix, Vectors
from pyspark.ml.stat import Correlation
from pyspark.sql.functions import col
from pyspark.sql.functions import *

In [14]:
df_nypd.count()

1000000

In [ ]:
#sprawdzmy czy współrzędne geograficzne się zgadzają (dla NYC to 40.7128° N, 74.0060° W)

In [52]:
df_nypd.describe('latitude').show()

+-------+------------------+
|summary|          latitude|
+-------+------------------+
|  count|             99997|
|   mean| 40.73620223008082|
| stddev|0.0832308701252161|
|    min| 40.50056279200004|
|    max| 40.91272339600005|
+-------+------------------+

In [54]:
df_nypd.describe('longitude').show()

+-------+-------------------+
|summary|          longitude|
+-------+-------------------+
|  count|              99997|
|   mean| -73.92611980459544|
| stddev|0.07687619401337913|
|    min| -74.25340302899998|
|    max| -73.70072029399995|
+-------+-------------------+

In [36]:
def to_histogram_df_save(dataframe, variable):
    frame = dataframe.groupBy(variable).count()
    frame.write.format("mongodb").mode("append").save()
    return frame

In [65]:
#bazy do histogramów by zobaczyć dystrybucje danych kategorycznych
nypd_station_distr = to_histogram_df_save(df_nypd,"station_name")
nypd_susage_distr = to_histogram_df_save(df_nypd,"susp_age_group")
nypd_susrace_distr = to_histogram_df_save(df_nypd,"susp_race")
nypd_vicage_distr = to_histogram_df_save(df_nypd,"vic_age_group")
nypd_vicrace_distr = to_histogram_df_save(df_nypd,"vic_race")
nypd_vicsex_distr = to_histogram_df_save(df_nypd,"vic_sex")
nypd_boro_distr = to_histogram_df_save(df_nypd,"boro_nm")
nypd_ofns_distr = to_histogram_df_save(df_nypd,"ofns_desc")
nypd_rptdt_distr = to_histogram_df_save(df_nypd,"rpt_dt")

In [ ]:
#korelacje pomiedzy zmiennymi
#ogólnie zostawiam jak na razie bo te funkcje nie dzialaja najlepiej
#Correlation.corr(df_nypd,"susp_age_group","susp_race","vic_race","vic_sex","vic_age_group","boro_nm","ofns_desc")

### Bardziej dokładna analiza demograficzna (osobno dla napastnika oraz ofiar)
Dla kontekstu, z oficjalnych danych zamieszczonych przez zarząd miasta Nowego Yorku (dane z 2000, uwzględiają wyłącznie stale zamieszkałych) dystrybucja rasowa nowego Yorku, przy populacji 8,008,278, wyosi, w procentach,:
   - Biali - 44.7	
   - Afro-amerykanie - 26.6
   - Azjaci - 9.8
   - Latynosi - 27.0
   - Rasa mieszana - 4.9
   - Inna - 14.0

In [86]:
#agregacje dla rasy, przedziału wiekowego, płci, dystryktu gdzie zaszedł incydent oraz jego typ (skala powagi) dla ofiar 
df_sub_vic = df_nypd.select(col('vic_race'),col('vic_age_group'),col('vic_sex'),col('boro_nm'),col("law_cat_cd"))
df_vic = df_sub_vic.groupBy('vic_race', 'vic_age_group', 'vic_sex', 'boro_nm',"law_cat_cd").count()
df_vic.sort(col('count').desc()).show()

+--------------+-------------+-------+---------+-----------+-----+
|      vic_race|vic_age_group|vic_sex|  boro_nm| law_cat_cd|count|
+--------------+-------------+-------+---------+-----------+-----+
|       UNKNOWN|      UNKNOWN|      D|MANHATTAN|MISDEMEANOR| 3960|
|       UNKNOWN|      UNKNOWN|      D| BROOKLYN|MISDEMEANOR| 2447|
|       UNKNOWN|      UNKNOWN|      E|    BRONX|MISDEMEANOR| 2156|
|       UNKNOWN|      UNKNOWN|      E|MANHATTAN|MISDEMEANOR| 2072|
|       UNKNOWN|      UNKNOWN|      E| BROOKLYN|MISDEMEANOR| 2067|
|       UNKNOWN|      UNKNOWN|      D|   QUEENS|MISDEMEANOR| 1717|
|       UNKNOWN|      UNKNOWN|      D|    BRONX|MISDEMEANOR| 1503|
|       UNKNOWN|      UNKNOWN|      D|MANHATTAN|     FELONY| 1466|
|       UNKNOWN|      UNKNOWN|      E| BROOKLYN|     FELONY| 1430|
|         BLACK|        25-44|      F| BROOKLYN|MISDEMEANOR| 1341|
|       UNKNOWN|      UNKNOWN|      E|   QUEENS|MISDEMEANOR| 1032|
|       UNKNOWN|      UNKNOWN|      D| BROOKLYN|     FELONY|  988|
|         BLACK|        25-44|      F|    BRONX|MISDEMEANOR|  964|
|WHITE HISPANIC|        25-44|      F|    BRONX|MISDEMEANOR|  952|
|         BLACK|        25-44|      M| BROOKLYN|MISDEMEANOR|  890|
|       UNKNOWN|      UNKNOWN|      E|MANHATTAN|     FELONY|  880|
|       UNKNOWN|      UNKNOWN|      E|    BRONX|     FELONY|  840|
|         BLACK|        25-44|      F| BROOKLYN|  VIOLATION|  774|
|         BLACK|        25-44|      F| BROOKLYN|     FELONY|  760|
|         WHITE|        25-44|      M| BROOKLYN|MISDEMEANOR|  724|
+--------------+-------------+-------+---------+-----------+-----+
only showing top 20 rows

In [87]:
#agregacje dla rasy, przedziału wiekowego oraz płci dystryktu gdzie zaszedł incydent oraz jego typ (skala powagi) dla napastników
df_sub_sus = df_nypd.select(col('susp_race'),col('susp_age_group'),col('susp_sex'),col('boro_nm'),col("law_cat_cd"))
df_sus = df_sub_sus.groupBy('susp_race', 'susp_age_group', 'susp_sex','boro_nm',"law_cat_cd").count()
df_sus.sort(col('count').desc()).show()

+---------+--------------+--------+---------+-----------+-----+
|susp_race|susp_age_group|susp_sex|  boro_nm| law_cat_cd|count|
+---------+--------------+--------+---------+-----------+-----+
|     null|          null|    null| BROOKLYN|MISDEMEANOR| 4696|
|     null|          null|    null|MANHATTAN|MISDEMEANOR| 3409|
|     null|          null|    null|    BRONX|MISDEMEANOR| 3297|
|     null|          null|    null| BROOKLYN|     FELONY| 3026|
|     null|          null|    null|   QUEENS|MISDEMEANOR| 3022|
|     null|          null|    null|MANHATTAN|     FELONY| 2524|
|  UNKNOWN|       UNKNOWN|       U| BROOKLYN|MISDEMEANOR| 2217|
|     null|          null|    null|   QUEENS|     FELONY| 1988|
|  UNKNOWN|       UNKNOWN|       U|MANHATTAN|MISDEMEANOR| 1906|
|     null|          null|    null|    BRONX|     FELONY| 1638|
|    BLACK|         25-44|       M| BROOKLYN|MISDEMEANOR| 1475|
|  UNKNOWN|       UNKNOWN|       U|MANHATTAN|     FELONY| 1455|
|  UNKNOWN|       UNKNOWN|       U| BROOKLYN|     FELONY| 1450|
|  UNKNOWN|       UNKNOWN|       U|    BRONX|MISDEMEANOR| 1400|
|  UNKNOWN|       UNKNOWN|       U|   QUEENS|MISDEMEANOR| 1340|
|    BLACK|         25-44|       M|MANHATTAN|MISDEMEANOR| 1187|
|    BLACK|         25-44|       M|    BRONX|MISDEMEANOR| 1174|
|    BLACK|         25-44|       M| BROOKLYN|     FELONY| 1045|
|  UNKNOWN|       UNKNOWN|       U|   QUEENS|     FELONY|  959|
|  UNKNOWN|       UNKNOWN|       U|    BRONX|     FELONY|  882|
+---------+--------------+--------+---------+-----------+-----+
only showing top 20 rows

### Agregacja dla czasu występowania danego przestępstwa
Dla poniższej tabeli zagregowanej będziemy przetrzymywali datę zajścia (dane zbierane od 2006 roku) od danych charakterystycznych dla danego zgłoszonego incydentu.

In [121]:
#Dane zagregowane dla daty, nazwy dzielnicy, opisu ataku, opisu okolicy, czy atak dobiegł do skutku (jego finalny stan),
#By .show sie odpaliło bez błędu należy ustawić w trakcie tworzenia sesji nowe parametry (dodane jako .set)
df_sub_time = df_nypd.select(col('rpt_dt'),col('boro_nm'),col('ofns_desc'),col('pd_desc'),col("law_cat_cd"),col("crm_atpt_cptd_cd"),
                           col("prem_typ_desc"), date_format(col("cmplnt_fr_ts"), "HH:mm:ss").alias("timestamp") )
df_time = df_sub_time.groupBy('rpt_dt', 'boro_nm', 'ofns_desc','pd_desc',"law_cat_cd","crm_atpt_cptd_cd","prem_typ_desc").agg({"timestamp":'avg',"timestamp":"min","timestamp":"max","timestamp":"count"})
df_time.sort(col('rpt_dt').asc()).show()

Unexpected exception formatting exception. Falling back to standard exception

23/01/08 12:24:31 ERROR executor.Executor: Exception in task 0.0 in stage 203.0 (TID 12337)
org.apache.spark.SparkUpgradeException: You may get a different result due to the upgrading of Spark 3.0: reading dates before 1582-10-15 or timestamps before 1900-01-01T00:00:00Z from Parquet files can be ambiguous, as the files may be written by Spark 2.x or legacy versions of Hive, which uses a legacy hybrid calendar that is different from Spark 3.0+'s Proleptic Gregorian calendar. See more details in SPARK-31404. You can set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'LEGACY' to rebase the datetime values w.r.t. the calendar difference during reading. Or set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'CORRECTED' to read the datetime values as it is.
	at org.apache.spark.sql.execution.datasources.DataSourceUtils$.newRebaseExceptionInRead(DataSourceUtils.scala:147)
	at org.apache.spark.sql.execution.datasources.DataSourceUtils.newRebaseExceptionInRead(DataSourceUtils.scala)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseTimestamp(VectorizedColumnReader.java:228)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseMicros(VectorizedColumnReader.java:238)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readLongBatch(VectorizedColumnReader.java:604)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readBatch(VectorizedColumnReader.java:297)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextBatch(VectorizedParquetRecordReader.java:283)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextKeyValue(VectorizedParquetRecordReader.java:181)
	at org.apache.spark.sql.execution.datasources.RecordReaderIterator.hasNext(RecordReaderIterator.scala:37)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:93)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:503)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
23/01/08 12:24:31 WARN scheduler.TaskSetManager: Lost task 0.0 in stage 203.0 (TID 12337) (10.0.2.15 executor driver): org.apache.spark.SparkUpgradeException: You may get a different result due to the upgrading of Spark 3.0: reading dates before 1582-10-15 or timestamps before 1900-01-01T00:00:00Z from Parquet files can be ambiguous, as the files may be written by Spark 2.x or legacy versions of Hive, which uses a legacy hybrid calendar that is different from Spark 3.0+'s Proleptic Gregorian calendar. See more details in SPARK-31404. You can set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'LEGACY' to rebase the datetime values w.r.t. the calendar difference during reading. Or set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'CORRECTED' to read the datetime values as it is.
	at org.apache.spark.sql.execution.datasources.DataSourceUtils$.newRebaseExceptionInRead(DataSourceUtils.scala:147)
	at org.apache.spark.sql.execution.datasources.DataSourceUtils.newRebaseExceptionInRead(DataSourceUtils.scala)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseTimestamp(VectorizedColumnReader.java:228)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseMicros(VectorizedColumnReader.java:238)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readLongBatch(VectorizedColumnReader.java:604)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readBatch(VectorizedColumnReader.java:297)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextBatch(VectorizedParquetRecordReader.java:283)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextKeyValue(VectorizedParquetRecordReader.java:181)
	at org.apache.spark.sql.execution.datasources.RecordReaderIterator.hasNext(RecordReaderIterator.scala:37)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:93)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:503)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

23/01/08 12:24:31 ERROR scheduler.TaskSetManager: Task 0 in stage 203.0 failed 1 times; aborting job
Traceback (most recent call last):
  File "/home/vagrant/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3442, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_28633/1234695642.py", line 5, in <module>
    df_time.sort(col('rpt_dt').asc()).show()
  File "/usr/local/spark/python/pyspark/sql/dataframe.py", line 484, in show
    print(self._jdf.showString(n, 20, vertical))
  File "/usr/local/spark/python/lib/py4j-0.10.9-src.zip/py4j/java_gateway.py", line 1304, in __call__
    return_value = get_return_value(
  File "/usr/local/spark/python/pyspark/sql/utils.py", line 111, in deco
    return f(*a, **kw)
  File "/usr/local/spark/python/lib/py4j-0.10.9-src.zip/py4j/protocol.py", line 326, in get_return_value
    raise Py4JJavaError(
py4j.protocol.Py4JJavaError: An error occurred while calling o1463.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 203.0 failed 1 times, most recent failure: Lost task 0.0 in stage 203.0 (TID 12337) (10.0.2.15 executor driver): org.apache.spark.SparkUpgradeException: You may get a different result due to the upgrading of Spark 3.0: reading dates before 1582-10-15 or timestamps before 1900-01-01T00:00:00Z from Parquet files can be ambiguous, as the files may be written by Spark 2.x or legacy versions of Hive, which uses a legacy hybrid calendar that is different from Spark 3.0+'s Proleptic Gregorian calendar. See more details in SPARK-31404. You can set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'LEGACY' to rebase the datetime values w.r.t. the calendar difference during reading. Or set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'CORRECTED' to read the datetime values as it is.
	at org.apache.spark.sql.execution.datasources.DataSourceUtils$.newRebaseExceptionInRead(DataSourceUtils.scala:147)
	at org.apache.spark.sql.execution.datasources.DataSourceUtils.newRebaseExceptionInRead(DataSourceUtils.scala)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseTimestamp(VectorizedColumnReader.java:228)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseMicros(VectorizedColumnReader.java:238)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readLongBatch(VectorizedColumnReader.java:604)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readBatch(VectorizedColumnReader.java:297)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextBatch(VectorizedParquetRecordReader.java:283)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextKeyValue(VectorizedParquetRecordReader.java:181)
	at org.apache.spark.sql.execution.datasources.RecordReaderIterator.hasNext(RecordReaderIterator.scala:37)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:93)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:503)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2258)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2207)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2206)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1079)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1079)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2445)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2387)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2376)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:868)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2196)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2291)
	at org.apache.spark.rdd.RDD.$anonfun$reduce$1(RDD.scala:1120)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.reduce(RDD.scala:1102)
	at org.apache.spark.rdd.RDD.$anonfun$takeOrdered$1(RDD.scala:1524)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.takeOrdered(RDD.scala:1512)
	at org.apache.spark.sql.execution.TakeOrderedAndProjectExec.executeCollect(limit.scala:187)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3696)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3687)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3685)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2722)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2929)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:301)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:338)
	at sun.reflect.GeneratedMethodAccessor103.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkUpgradeException: You may get a different result due to the upgrading of Spark 3.0: reading dates before 1582-10-15 or timestamps before 1900-01-01T00:00:00Z from Parquet files can be ambiguous, as the files may be written by Spark 2.x or legacy versions of Hive, which uses a legacy hybrid calendar that is different from Spark 3.0+'s Proleptic Gregorian calendar. See more details in SPARK-31404. You can set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'LEGACY' to rebase the datetime values w.r.t. the calendar difference during reading. Or set spark.sql.legacy.parquet.datetimeRebaseModeInRead to 'CORRECTED' to read the datetime values as it is.
	at org.apache.spark.sql.execution.datasources.DataSourceUtils$.newRebaseExceptionInRead(DataSourceUtils.scala:147)
	at org.apache.spark.sql.execution.datasources.DataSourceUtils.newRebaseExceptionInRead(DataSourceUtils.scala)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseTimestamp(VectorizedColumnReader.java:228)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.rebaseMicros(VectorizedColumnReader.java:238)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readLongBatch(VectorizedColumnReader.java:604)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedColumnReader.readBatch(VectorizedColumnReader.java:297)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextBatch(VectorizedParquetRecordReader.java:283)
	at org.apache.spark.sql.execution.datasources.parquet.VectorizedParquetRecordReader.nextKeyValue(VectorizedParquetRecordReader.java:181)
	at org.apache.spark.sql.execution.datasources.RecordReaderIterator.hasNext(RecordReaderIterator.scala:37)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:93)
	at org.apache.spark.sql.execution.FileSourceScanExec$$anon$1.hasNext(DataSourceScanExec.scala:503)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.columnartorow_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.agg_doAggregateWithKeys_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:755)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:132)
	at org.apache.spark.shuffle.ShuffleWriteProcessor.write(ShuffleWriteProcessor.scala:59)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:99)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:52)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:497)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1439)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:500)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/vagrant/.local/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/vagrant/.local/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/vagrant/.local/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/vagrant/.local/lib/python3.9/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback

## Wstępna analiza agregacyjna dla danych mieszkaniowych
Na początek przeprowadzimy proste agregacje dla danych mieszkaniowych by zobaczyć rozkłady dla (ważniejszych i bardziej interesujących) zmiennych.

In [123]:
df_condo.printSchema()

root
 |-- condo_section: string (nullable = true)
 |-- boro_block_lot: string (nullable = true)
 |-- address: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- building_classification: string (nullable = true)
 |-- total_units: integer (nullable = true)
 |-- year_built: integer (nullable = true)
 |-- gross_sqft: integer (nullable = true)
 |-- estimated_gross_income: integer (nullable = true)
 |-- gross_income_per_sqft: double (nullable = true)
 |-- estimated_expense: integer (nullable = true)
 |-- expense_per_sqft: double (nullable = true)
 |-- net_operating_income: integer (nullable = true)
 |-- full_market_value: integer (nullable = true)
 |-- market_value_per_sqft: double (nullable = true)
 |-- report_year: integer (nullable = true)

In [124]:
#bazy do histogramów by zobaczyć dystrybucje danych kategorycznych
condo_address = to_histogram_df_save(df_condo,"address")
condo_neighborhood = to_histogram_df_save(df_condo,"neighborhood")
condo_building_classification = to_histogram_df_save(df_condo,"building_classification")
condo_year_built = to_histogram_df_save(df_condo,"year_built")
condo_report_year = to_histogram_df_save(df_condo,"report_year")

### Dokonanie agregacji ze względu na geografie (położenie w NYC)
Poniżej dokonamy bardziej złożonej agregacji, w której dla pogrupowanych danych geograficznych oraz daty obliczamy średnie oraz
odchylenia standardowe dla danych ekonomicznych.

In [130]:
df_condo_sub = df_condo.select(col('neighborhood'),col('address'),col('building_classification')
                               ,col('report_year'),col("gross_income_per_sqft"),col("expense_per_sqft")
                               ,col("net_operating_income"), col("market_value_per_sqft"))
df_geo_condo = df_condo_sub.groupBy('neighborhood', 'address', 'building_classification','report_year').agg({"gross_income_per_sqft":'avg',"expense_per_sqft":"avg",
                                          "net_operating_income":"avg","market_value_per_sqft":"avg"})
df_geo_condo.sort(col('report_year').asc()).show(5)

+--------------------+------------------+-----------------------+-----------+-------------------------+--------------------------+---------------------+--------------------------+
|        neighborhood|           address|building_classification|report_year|avg(net_operating_income)|avg(market_value_per_sqft)|avg(expense_per_sqft)|avg(gross_income_per_sqft)|
+--------------------+------------------+-----------------------+-----------+-------------------------+--------------------------+---------------------+--------------------------+
|       ALPHABET CITY| 182 EAST 2 STREET|         R2-CONDOMINIUM|       2012|                 953656.0|                    196.63|                10.32|                     37.06|
|      HARLEM-CENTRAL|23 EAST 128 STREET|         R4-CONDOMINIUM|       2012|                 145440.0|                      86.5|                 6.81|                     18.93|
|        EAST VILLAGE|  24 EAST 7 STREET|         R9-CONDOMINIUM|       2012|                 787799.0|                    166.65|                12.25|                     33.72|
|GREENWICH VILLAGE...| 14 WEST 14 STREET|         R4-CONDOMINIUM|       2012|                1116170.0|                    254.05|                 7.61|                     41.26|
|            FLATIRON|  9 WEST 20 STREET|         R4-CONDOMINIUM|       2012|                 850840.0|                    226.73|                 5.68|                     35.71|
+--------------------+------------------+-----------------------+-----------+-------------------------+--------------------------+---------------------+--------------------------+
only showing top 5 rows

In [136]:
#Ponieważ może zostać nie użyte (i dla przejrzystości), tutaj taka sama agregacja jak powyżej tylko z sumą
#jako funkcją agregacyjną
df_condo_sub_sd = df_condo.select(col('neighborhood'),col('address'),col('building_classification')
                               ,col('report_year'),col("gross_income_per_sqft"),col("expense_per_sqft")
                               ,col("net_operating_income"), col("market_value_per_sqft"))
df_geo_condo_sd = df_condo_sub_sd.groupBy('neighborhood', 'address', 'building_classification','report_year').agg({"gross_income_per_sqft":'stddev_samp',"expense_per_sqft":"stddev_samp",
                                          "net_operating_income":"stddev_samp","market_value_per_sqft":"stddev_samp"})
df_geo_condo_sd.sort(col('report_year').desc()).show(5)

+--------------------+----------------+-----------------------+-----------+-------------------------+--------------------------+---------------------+--------------------------+
|        neighborhood|         address|building_classification|report_year|sum(net_operating_income)|sum(market_value_per_sqft)|sum(expense_per_sqft)|sum(gross_income_per_sqft)|
+--------------------+----------------+-----------------------+-----------+-------------------------+--------------------------+---------------------+--------------------------+
|           FINANCIAL|  18 PINE STREET|          R4  -ELEVATOR|       2021|                 19735687|                    290.45|                16.92|                     52.87|
|UPPER WEST SIDE (...|8 WEST 65 STREET|          R4  -ELEVATOR|       2021|                   307402|                    267.81|                11.27|                      44.2|
|        CIVIC CENTER|85 WEST BROADWAY|          R4  -ELEVATOR|       2021|                   580864|                    312.68|                10.05|                     48.62|
|           CHINATOWN|       87 BOWERY|          R4  -ELEVATOR|       2021|                   303365|                     299.1|                16.06|                     53.11|
|GREENWICH VILLAGE...|  40 BOND STREET|          R4  -ELEVATOR|       2021|                  3057450|                    290.88|                15.44|                     51.41|
+--------------------+----------------+-----------------------+-----------+-------------------------+--------------------------+---------------------+--------------------------+
only showing top 5 rows

### Agregacja uwzględniająca rok budowy dla danego condominium
Podobna analiza jak powyżej, jednakże bierze pod uwagę głównie rok budowy oraz geografię.

In [137]:
df_condo_year = df_condo.select(col("year_built"), col('neighborhood'),col('address'),col('building_classification')
                               ,col("gross_income_per_sqft"),col("expense_per_sqft")
                               ,col("net_operating_income"), col("market_value_per_sqft"))
df_sub_year = df_condo_year.groupBy("year_built", 'neighborhood', 'building_classification').agg({"gross_income_per_sqft":'avg',"expense_per_sqft":"avg",
                                          "net_operating_income":"avg","market_value_per_sqft":"avg"})
df_sub_year.sort(col('year_built').desc()).show(5)

+----------+-----------------+-----------------------+-------------------------+--------------------------+---------------------+--------------------------+
|year_built|     neighborhood|building_classification|avg(net_operating_income)|avg(market_value_per_sqft)|avg(expense_per_sqft)|avg(gross_income_per_sqft)|
+----------+-----------------+-----------------------+-------------------------+--------------------------+---------------------+--------------------------+
|      2020|          JAMAICA|           RR  -CONRENT|                1932993.0|                     99.29|                12.58|                     27.95|
|      2020|   FLUSHING-NORTH|          R4  -ELEVATOR|                 604356.0|                    214.77|                 8.79|                     35.15|
|      2020|    CROWN HEIGHTS|          R4  -ELEVATOR|                 525028.0|                    187.01|                14.02|                     36.96|
|      2020|        GRAVESEND|          R4  -ELEVATOR|                 223982.0|                    131.96|                15.71|                     31.95|
|      2019|WILLIAMSBURG-EAST|          R4  -ELEVATOR|                 554050.0|                    219.05|                 5.91|                     32.82|
+----------+-----------------+-----------------------+-------------------------+--------------------------+---------------------+--------------------------+
only showing top 5 rows

## Zestawienie obydwu ramek danych
Dane należało pierw poddac obróbce i zrzutować dane Nowo-Yorskiej policji na mniejszą granualność (tudzież czas z dokładnością co do roku, a położenie z dokładnością co do dystryktu, adresu) by następnie móc połączyć tabele po kluczu geograficznym oraz czasowym.

In [138]:
#sprawdzenie unikalnych
df_condo.select('neighborhood').distinct().collect()

[Row(neighborhood='MORNINGSIDE HEIGHTS'),
 Row(neighborhood='COBBLE\xa0HILL'),
 Row(neighborhood='MANOR HEIGHTS'),
 Row(neighborhood='FLATBUSH-NORTH'),
 Row(neighborhood='KIPS BAY'),
 Row(neighborhood='CYPRESS HILLS'),
 Row(neighborhood='WILLOWBROOK'),
 Row(neighborhood='WASHINGTON HEIGHTS LOWER'),
 Row(neighborhood='REGO\xa0PARK'),
 Row(neighborhood='CASTLE HILL/UNIONPORT'),
 Row(neighborhood='GREAT\xa0KILLS'),
 Row(neighborhood='CLOVE\xa0LAKES'),
 Row(neighborhood='MORNINGSIDE\xa0HEIGHTS'),
 Row(neighborhood='CASTLE\xa0HILL/UNIONPORT'),
 Row(neighborhood='ALPHABET CITY'),
 Row(neighborhood='BENSONHURST'),
 Row(neighborhood='COLLEGE\xa0POINT'),
 Row(neighborhood='CORONA'),
 Row(neighborhood='BOROUGH PARK'),
 Row(neighborhood='WINDSOR TERRACE'),
 Row(neighborhood='EAST\xa0VILLAGE'),
 Row(neighborhood='GREENWICH\xa0VILLAGE-WEST'),
 Row(neighborhood='JAMAICA\xa0HILLS'),
 Row(neighborhood='PELHAM PARKWAY NORTH'),
 Row(neighborhood='OCEAN PARKWAY-NORTH'),
 Row(neighborhood='GRYMES HILL'),
 Row(neighborhood='MIDTOWN EAST'),
 Row(neighborhood='NAVY YARD'),
 Row(neighborhood='FLUSHING-SOUTH'),
 Row(neighborhood='ALPHABET\xa0CITY'),
 Row(neighborhood='OAKLAND\xa0GARDENS'),
 Row(neighborhood='SOHO'),
 Row(neighborhood='FORDHAM'),
 Row(neighborhood='RED\xa0HOOK'),
 Row(neighborhood='DONGAN HILLS-OLD TOWN'),
 Row(neighborhood='BAYSIDE'),
 Row(neighborhood='HIGHBRIDGE/MORRIS\xa0HEIGHTS'),
 Row(neighborhood='EAST\xa0NEW\xa0YORK'),
 Row(neighborhood='DOUGLASTON'),
 Row(neighborhood='MIDTOWN WEST'),
 Row(neighborhood='BROOKLYN\xa0HEIGHTS'),
 Row(neighborhood='SEAGATE'),
 Row(neighborhood='CLINTON HILL'),
 Row(neighborhood='MIDTOWN\xa0WEST'),
 Row(neighborhood='FORT\xa0GREENE'),
 Row(neighborhood='NEW\xa0DORP'),
 Row(neighborhood='INWOOD'),
 Row(neighborhood='PROSPECT HEIGHTS'),
 Row(neighborhood='SHEEPSHEAD\xa0BAY'),
 Row(neighborhood='GREAT KILLS'),
 Row(neighborhood='NEW BRIGHTON'),
 Row(neighborhood='BERGEN\xa0BEACH'),
 Row(neighborhood='HUNTS\xa0POINT'),
 Row(neighborhood='CROTONA PARK'),
 Row(neighborhood='30TH Q BROOKLYN'),
 Row(neighborhood='FAR ROCKAWAY'),
 Row(neighborhood='JAMAICA\xa0ESTATES'),
 Row(neighborhood='KEW GARDENS'),
 Row(neighborhood='DOWNTOWN-METROTECH'),
 Row(neighborhood='MIDTOWN\xa0EAST'),
 Row(neighborhood='KINGSBRIDGE\xa0HTS/UNIV\xa0HTS'),
 Row(neighborhood='FLATBUSH-EAST'),
 Row(neighborhood=None),
 Row(neighborhood='FLUSHING\xa0MEADOW\xa0PARK'),
 Row(neighborhood='KEW\xa0GARDENS'),
 Row(neighborhood='BAYCHESTER'),
 Row(neighborhood='WEST NEW BRIGHTON'),
 Row(neighborhood='NAVY\xa0YARD'),
 Row(neighborhood='MIDLAND BEACH'),
 Row(neighborhood='TOTTENVILLE'),
 Row(neighborhood='MORRIS PARK/VAN NEST'),
 Row(neighborhood='CO-OP\xa0CITY'),
 Row(neighborhood='CYPRESS\xa0HILLS'),
 Row(neighborhood='COBBLE HILL'),
 Row(neighborhood='UPPER WEST SIDE (79-96)'),
 Row(neighborhood='WILLIAMSBURG-SOUTH'),
 Row(neighborhood='PROSPECT\xa0HEIGHTS'),
 Row(neighborhood='GRYMES\xa0HILL'),
 Row(neighborhood='BATHGATE'),
 Row(neighborhood='MADISON'),
 Row(neighborhood='CONEY ISLAND'),
 Row(neighborhood='EAST NEW YORK'),
 Row(neighborhood='BUSHWICK'),
 Row(neighborhood='HILLCREST'),
 Row(neighborhood='50TH Q BROOKLYN'),
 Row(neighborhood='MILL\xa0BASIN'),
 Row(neighborhood='5TH Q BROOKLYN'),
 Row(neighborhood='SCHUYLERVILLE/PELHAM\xa0BAY'),
 Row(neighborhood='FORT GREENE'),
 Row(neighborhood='OAKWOOD'),
 Row(neighborhood='WHITESTONE'),
 Row(neighborhood='15TH Q QUEENS'),
 Row(neighborhood='FLUSHING MEADOW PARK'),
 Row(neighborhood='REGO PARK'),
 Row(neighborhood='UPPER\xa0WEST\xa0SIDE\xa0(79-96)'),
 Row(neighborhood='PELHAM PARKWAY SOUTH'),
 Row(neighborhood='WYCKOFF HEIGHTS'),
 Row(neighborhood='SOUNDVIEW'),
 Row(neighborhood='BUSH\xa0TERMINAL'),
 Row(neighborhood='JAVITS\xa0CENTER'),
 Row(neighborhood='EAST VILLAGE'),
 Row(neighborhood='SILVER LAKE'),
 Row(neighborhood='LITTLE\xa0ITALY'),
 Row(neighborhood='CASTLETON CORNERS'),
 Row(neighborhood='ROSEBANK'),
 Row(neighborhood='ARROCHAR-SHORE ACRES'),
 Row(neighborhood='UPPER\xa0WEST\xa0SIDE\xa0(59-79)'),
 Row(neighborhood='SOUTH\xa0OZONE\xa0PARK'),
 Row(neighborhood='LITTLE ITALY'),
 Row(neighborhood='SOUTH OZONE PARK'),
 Row(neighborhood='SO. JAMAICA-BAISLEY PARK'),
 Row(neighborhood='PORT IVORY'),
 Row(neighborhood='PELHAM\xa0PARKWAY\xa0SOUTH'),
 Row(neighborhood='LITTLE NECK'),
 Row(neighborhood='WILLIAMSBURG-CENTRAL'),
 Row(neighborhood='OCEAN PARKWAY-SOUTH'),
 Row(neighborhood='LOWER\xa0EAST\xa0SIDE'),
 Row(neighborhood='MURRAY\xa0HILL'),
 Row(neighborhood='OAKLAND GARDENS'),
 Row(neighborhood='CIVIC CENTER'),
 Row(neighborhood='ST. ALBANS'),
 Row(neighborhood='WYCKOFF\xa0HEIGHTS'),
 Row(neighborhood='UPPER\xa0WEST\xa0SIDE\xa0(96-116)'),
 Row(neighborhood='DOWNTOWN-FULTON\xa0MALL'),
 Row(neighborhood='MOUNT HOPE/MOUNT EDEN'),
 Row(neighborhood='MIDTOWN\xa0CBD'),
 Row(neighborhood='ARROCHAR'),
 Row(neighborhood='HARLEM-WEST'),
 Row(neighborhood='CROTONA\xa0PARK'),
 Row(neighborhood='LAURELTON'),
 Row(neighborhood='BOERUM HILL'),
 Row(neighborhood='DOWNTOWN-FULTON FERRY'),
 Row(neighborhood='SOUTHBRIDGE'),
 Row(neighborhood='ARROCHAR-SHORE\xa0ACRES'),
 Row(neighborhood='GREENWICH VILLAGE-WEST'),
 Row(neighborhood='PARK SLOPE'),
 Row(neighborhood='COBBLE HILL-WEST'),
 Row(neighborhood='PARK\xa0SLOPE\xa0SOUTH'),
 Row(neighborhood='PORT RICHMOND'),
 Row(neighborhood='PARK\xa0SLOPE'),
 Row(neighborhood='TRIBECA'),
 Row(neighborhood='KENSINGTON'),
 Row(neighborhood='BROOKLYN HEIGHTS'),
 Row(neighborhood='SILVER\xa0LAKE'),
 Row(neighborhood='ROOSEVELT ISLAND'),
 Row(neighborhood='KINGSBRIDGE HTS/UNIV HTS'),
 Row(neighborhood='75TH Q BROOKLYN'),
 Row(neighborhood='ROCKAWAY PARK'),
 Row(neighborhood='UPPER EAST SIDE (96-110)'),
 Row(neighborhood='ELMHURST'),
 Row(neighborhood='BUSH TERMINAL'),
 Row(neighborhood='EAST ELMHURST'),
 Row(neighborhood='MARINE PARK'),
 Row(neighborhood='WILLIAMSBURG-NORTH'),
 Row(neighborhood='CITY\xa0ISLAND'),
 Row(neighborhood='WESTCHESTER'),
 Row(neighborhood='OCEAN HILL'),
 Row(neighborhood='VAN\xa0CORTLANDT\xa0PARK'),
 Row(neighborhood='ROOSEVELT\xa0ISLAND'),
 Row(neighborhood='BRONXDALE'),
 Row(neighborhood='JACKSON HEIGHTS'),
 Row(neighborhood='BATH\xa0BEACH'),
 Row(neighborhood='UPPER WEST SIDE (59-79)'),
 Row(neighborhood='BATH BEACH'),
 Row(neighborhood='WOODHAVEN'),
 Row(neighborhood='DONGAN HILLS'),
 Row(neighborhood='CIVIC\xa0CENTER'),
 Row(neighborhood='OZONE\xa0PARK'),
 Row(neighborhood='GRAVESEND'),
 Row(neighborhood='MIDDLE VILLAGE'),
 Row(neighborhood='MASPETH'),
 Row(neighborhood='WILLIAMSBRIDGE'),
 Row(neighborhood='GREAT KILLS-BAY TERRACE'),
 Row(neighborhood='LONG ISLAND CITY'),
 Row(neighborhood='CANARSIE'),
 Row(neighborhood='GLENDALE'),
 Row(neighborhood='SOUTH JAMAICA'),
 Row(neighborhood='CROWN HEIGHTS'),
 Row(neighborhood='BRONX\xa0PARK'),
 Row(neighborhood='LIVINGSTON'),
 Row(neighborhood='BRIARWOOD'),
 Row(neighborhood='OZONE PARK'),
 Row(neighborhood='MANHATTAN\xa0BEACH'),
 Row(neighborhood='SOUTH\xa0JAMAICA'),
 Row(neighborhood='GRANT CITY'),
 Row(neighborhood='FLATLANDS'),
 Row(neighborhood='GREENWICH VILLAGE-CENTRAL'),
 Row(neighborhood='HAMMELS'),
 Row(neighborhood='FAR\xa0ROCKAWAY'),
 Row(neighborhood='JAMAICA ESTATES'),
 Row(neighborhood='75TH Q QUEENS'),
 Row(neighborhood='SUNSET PARK'),
 Row(neighborhood='DYKER HEIGHTS'),
 Row(neighborhood='UPPER\xa0EAST\xa0SIDE\xa0(79-96)'),
 Row(neighborhood='PARK SLOPE SOUTH'),
 Row(neighborhood='NEW\xa0SPRINGVILLE'),
 Row(neighborhood='KINGSBRIDGE/JEROME PARK'),
 Row(neighborhood='WESTERLEIGH'),
 Row(neighborhood='WASHINGTON HEIGHTS UPPER'),
 Row(neighborhood='SCHUYLERVILLE/PELHAM BAY'),
 Row(neighborhood='SPRING\xa0CREEK'),
 Row(neighborhood='FIELDSTON'),
 Row(neighborhood='CHELSEA'),
 Row(neighborhood='UPPER\xa0EAST\xa0SIDE\xa0(96-110)'),
 Row(neighborhood='GOWANUS'),
 Row(neighborhood='GREENPOINT'),
 Row(neighborhood='JACKSON\xa0HEIGHTS'),
 Row(neighborhood='GRANT\xa0CITY'),
 Row(neighborhood='CITY ISLAND'),
 Row(neighborhood='OCEAN\xa0PARKWAY-NORTH'),
 Row(neighborhood='OAKWOOD-BEACH'),
 Row(neighborhood='BERGEN BEACH'),
 Row(neighborhood='CHINATOWN'),
 Row(neighborhood='CONEY\xa0ISLAND'),
 Row(neighborhood='THROGS NECK'),
 Row(neighborhood='GREENWICH\xa0VILLAGE-CENTRAL'),
 Row(neighborhood='HARLEM-EAST'),
 Row(neighborhood='NEW BRIGHTON-ST. GEORGE'),
 Row(neighborhood='KINGSBRIDGE/JEROME\xa0PARK'),
 Row(neighborhood='THROGS\xa0NECK'),
 Row(neighborhood='SPRINGFIELD\xa0GARDENS'),
 Row(neighborhood='NEW DORP'),
 Row(neighborhood='HOLLISWOOD'),
 Row(neighborhood='FRESH MEADOWS'),
 Row(neighborhood='HOWARD\xa0BEACH'),
 Row(neighborhood='MORRISANIA/LONGWOOD'),
 Row(neighborhood='QN04'),
 Row(neighborhood='MOUNT\xa0HOPE/MOUNT\xa0EDEN'),
 Row(neighborhood='NEW DORP-HEIGHTS'),
 Row(neighborhood='DOWNTOWN-FULTON\xa0FERRY'),
 Row(neighborhood='HUNTS POINT'),
 Row(neighborhood='NEW\xa0BRIGHTON-ST.\xa0GEORGE'),
 Row(neighborhood='BELLE HARBOR'),
 Row(neighborhood='ASTORIA'),
 Row(neighborhood='BEDFORD\xa0STUYVESANT'),
 Row(neighborhood='UPPER WEST SIDE (96-116)'),
 Row(neighborhood='CONCORD'),
 Row(neighborhood='BRIGHTON\xa0BEACH'),
 Row(neighborhood='LOWER EAST SIDE'),
 Row(neighborhood='CARROLL GARDENS'),
 Row(neighborhood='MANHATTAN VALLEY'),
 Row(neighborhood='CARROLL\xa0GARDENS'),
 Row(neighborhood='CLINTON\xa0HILL'),
 Row(neighborhood='KIPS\xa0BAY'),
 Row(neighborhood='SPRINGFIELD GARDENS'),
 Row(neighborhood='FLATBUSH-CENTRAL'),
 Row(neighborhood='MOTT\xa0HAVEN/PORT\xa0MORRIS'),
 Row(neighborhood='RED HOOK'),
 Row(neighborhood='FLATBUSH-LEFFERTS GARDEN'),
 Row(neighborhood='BOERUM\xa0HILL'),
 Row(neighborhood='STAPLETON-CLIFTON'),
 Row(neighborhood='RICHMOND\xa0HILL'),
 Row(neighborhood='MURRAY HILL'),
 Row(neighborhood='TOMPKINSVILLE'),
 Row(neighborhood='BELLE\xa0HARBOR'),
 Row(neighborhood='MIDWOOD'),
 Row(neighborhood='MIDDLE\xa0VILLAGE'),
 Row(neighborhood='BRONX-UNKNOWN'),
 Row(neighborhood='OCEAN\xa0HILL'),
 Row(neighborhood='MORRIS\xa0PARK/VAN\xa0NEST'),
 Row(neighborhood='ARVERNE'),
 Row(neighborhood='BULLS HEAD'),
 Row(neighborhood='BEDFORD\xa0PARK/NORWOOD'),
 Row(neighborhood='SOUTH BEACH'),
 Row(neighborhood='BRONX PARK'),
 Row(neighborhood='WINDSOR\xa0TERRACE'),
 Row(neighborhood='CLINTON'),
 Row(neighborhood='HOWARD BEACH'),
 Row(neighborhood='OCEAN\xa0PARKWAY-SOUTH'),
 Row(neighborhood='DONGAN\xa0HILLS'),
 Row(neighborhood='MIDTOWN CBD'),
 Row(neighborhood='BRIGHTON BEACH'),
 Row(neighborhood='BEDFORD PARK/NORWOOD'),
 Row(neighborhood='SUNNYSIDE'),
 Row(neighborhood='MARINERS HARBOR'),
 Row(neighborhood='CLOVE LAKES'),
 Row(neighborhood='NEW\xa0BRIGHTON'),
 Row(neighborhood='GREAT\xa0KILLS-BAY\xa0TERRACE'),
 Row(neighborhood='MOTT HAVEN/PORT MORRIS'),
 Row(neighborhood='2999'),
 Row(neighborhood='CONCORD-FOX HILLS'),
 Row(neighborhood='BEDFORD STUYVESANT'),
 Row(neighborhood='UPPER\xa0EAST\xa0SIDE\xa0(59-79)'),
 Row(neighborhood='SUNSET\xa0PARK'),
 Row(neighborhood='ST.\xa0ALBANS'),
 Row(neighborhood='RIVERDALE'),
 Row(neighborhood='QUEENS\xa0VILLAGE'),
 Row(neighborhood='GRAMERCY'),
 Row(neighborhood='WOODLAWN'),
 Row(neighborhood='FRESH\xa0MEADOWS'),
 Row(neighborhood='JAMAICA'),
 Row(neighborhood='BULLS\xa0HEAD'),
 Row(neighborhood='UPPER EAST SIDE (59-79)'),
 Row(neighborhood='FOREST HILLS'),
 Row(neighborhood='EAST\xa0ELMHURST'),
 Row(neighborhood='SO.\xa0JAMAICA-BAISLEY\xa0PARK'),
 Row(neighborhood='ROCKAWAY\xa0PARK'),
 Row(neighborhood='CONCORD-FOX\xa0HILLS'),
 Row(neighborhood='ROSEDALE'),
 Row(neighborhood='STAPLETON'),
 Row(neighborhood='NEW SPRINGVILLE'),
 Row(neighborhood='WASHINGTON\xa0HEIGHTS\xa0UPPER'),
 Row(neighborhood='EAST\xa0TREMONT'),
 Row(neighborhood='RICHMOND HILL'),
 Row(neighborhood='GRASMERE'),
 Row(neighborhood='SHEEPSHEAD BAY'),
 Row(neighborhood='MANHATTAN BEACH'),
 Row(neighborhood='FOREST\xa0HILLS'),
 Row(neighborhood='BELMONT'),
 Row(neighborhood='RIDGEWOOD'),
 Row(neighborhood='LITTLE\xa0NECK'),
 Row(neighborhood='GERRITSEN BEACH'),
 Row(neighborhood='JAVITS CENTER'),
 Row(neighborhood='HARLEM-UPPER'),
 Row(neighborhood='UPPER EAST SIDE (79-96)'),
 Row(neighborhood='VAN CORTLANDT PARK'),
 Row(neighborhood='CROWN\xa0HEIGHTS'),
 Row(neighborhood='DYKER\xa0HEIGHTS'),
 Row(neighborhood='BAY RIDGE'),
 Row(neighborhood='WASHINGTON\xa0HEIGHTS\xa0LOWER'),
 Row(neighborhood='BOROUGH\xa0PARK'),
 Row(neighborhood='QUEENS VILLAGE'),
 Row(neighborhood='MARINE\xa0PARK'),
 Row(neighborhood='LONG\xa0ISLAND\xa0CITY'),
 Row(neighborhood='BAY\xa0RIDGE'),
 Row(neighborhood='FLATBUSH-LEFFERTS\xa0GARDEN'),
 Row(neighborhood='JAMAICA HILLS'),
 Row(neighborhood='WAKEFIELD'),
 Row(neighborhood='CO-OP CITY'),
 Row(neighborhood='MILL BASIN'),
 Row(neighborhood='FASHION'),
 Row(neighborhood='HOLLIS'),
 Row(neighborhood='ELTINGVILLE'),
 Row(neighborhood='FLATIRON'),
 Row(neighborhood='WOODSIDE'),
 Row(neighborhood='GLEN OAKS'),
 Row(neighborhood='HARLEM-CENTRAL'),
 Row(neighborhood='FLUSHING-NORTH'),
 Row(neighborhood='PARKCHESTER'),
 Row(neighborhood='DOWNTOWN-FULTON MALL'),
 Row(neighborhood='BROWNSVILLE'),
 Row(neighborhood='SPRING CREEK'),
 Row(neighborhood='HIGHBRIDGE/MORRIS HEIGHTS'),
 Row(neighborhood='EAST TREMONT'),
 Row(neighborhood='MANHATTAN\xa0VALLEY'),
 Row(neighborhood='COLLEGE POINT'),
 Row(neighborhood='WILLOWBROOK-SEAVIEW'),
 Row(neighborhood='WILLIAMSBURG-EAST'),
 Row(neighborhood='MELROSE/CONCOURSE'),
 Row(neighborhood='FINANCIAL'),
 Row(neighborhood='COBBLE\xa0HILL-WEST')]

In [139]:
#sprawdzenie unikalnych
df_condo.select('address').distinct().collect()

[Row(address='507 EAST 80 STREET'),
 Row(address='75 ALLEN STREET'),
 Row(address='53 WEST 76 STREET'),
 Row(address='406 WEST 45 STREET'),
 Row(address='87 ELIZABETH STREET'),
 Row(address='295 LAFAYETTE STREET'),
 Row(address='330 PROSPECT PLACE'),
 Row(address='263 CLASSON AVENUE'),
 Row(address='2964 BRIGHTON 6 STREET'),
 Row(address='120 NASSAU STREET'),
 Row(address='141-18 CHERRY AVENUE'),
 Row(address='138-35 39 AVENUE'),
 Row(address='7\xa0LISPENARD\xa0STREET'),
 Row(address='10\xa0EAST\xa0102\xa0STREET'),
 Row(address='2040\xa0FREDERICK\xa0DOUGLASS\xa0B'),
 Row(address='2264\xa0MORRIS\xa0AVENUE'),
 Row(address='8794\xa017\xa0AVENUE'),
 Row(address='38-01\xa031\xa0AVENUE'),
 Row(address='143-36\xa037\xa0AVENUE'),
 Row(address='56 CLOVER PLACE'),
 Row(address='1 COENTIES SLIP'),
 Row(address='279 CENTRAL PARK WEST'),
 Row(address='524 EAST 72 STREET'),
 Row(address='301 STREET'),
 Row(address='19 80 STREET'),
 Row(address='139 34 AVENUE'),
 Row(address='6002 FT HAMILTON PARKWAY'),
 Row(address='3 WEST 108 STREET'),
 Row(address='8\xa08\xa0AVENUE'),
 Row(address='352\xa0WEST\xa046\xa0STREET'),
 Row(address='2285\xa0BATHGATE\xa0AVENUE'),
 Row(address='419\xa0DEGRAW\xa0STREET'),
 Row(address='223\xa013\xa0STREET'),
 Row(address='209\xa0SPENCER\xa0STREET'),
 Row(address='344\xa0CARROLL\xa0STREET'),
 Row(address='144\xa0NORTH\xa010\xa0STREET'),
 Row(address='155\xa0HURON\xa0STREET'),
 Row(address='1023\xa0BROADWAY'),
 Row(address='1540\xa0VAN\xa0SICLEN\xa0AVENUE'),
 Row(address='165 SEAMAN AVENUE'),
 Row(address='35 83 STREET'),
 Row(address='1950 CLOVE ROAD'),
 Row(address='156 EAST 7 STREET'),
 Row(address='3065 ROBERTS AVENUE'),
 Row(address='495 LINCOLN PLACE'),
 Row(address='390 2 STREET'),
 Row(address='41 HENRY STREET'),
 Row(address='1093 ST JOHNS PLACE'),
 Row(address='72-38 72 ROAD'),
 Row(address='4011 KINGS HIGHWAY'),
 Row(address='86-15 ELMHURST AVENUE'),
 Row(address='195 AVENUE B'),
 Row(address='282 CROWN STREET'),
 Row(address='164 WEST 141 STREET'),
 Row(address='147 EAST 30 STREET'),
 Row(address='130 VAN CORTLANDT AVENUE'),
 Row(address='415 ALBEMARLE ROAD'),
 Row(address='167 EAST 99 STREET'),
 Row(address='189 CLAREMONT AVENUE'),
 Row(address='203 17 STREET'),
 Row(address='4\xa0WEST\xa022\xa0STREET'),
 Row(address='59\xa0GELSTON\xa0AVENUE'),
 Row(address='102 67 AVENUE'),
 Row(address='45 LOTT AVENUE'),
 Row(address='37 72 STREET'),
 Row(address='218 WEST 17 STREET'),
 Row(address='9 COOK STREET'),
 Row(address='92 EAST 208 STREET'),
 Row(address='83-15 LEFFERTS BOULEVARD'),
 Row(address='220 EAST 36 STREET'),
 Row(address='417 15 STREET'),
 Row(address='33-15 28 STREET'),
 Row(address='280 EAST 2 STREET'),
 Row(address='2016\xa0REGENT\xa0PLACE'),
 Row(address='41-29\xa041\xa0STREET'),
 Row(address='2725 MORRIS AVENUE'),
 Row(address='1248 PACIFIC STREET'),
 Row(address='555 EAST 5 STREET'),
 Row(address='611 DAHILL ROAD'),
 Row(address='7 EAST 13 STREET'),
 Row(address='40 WEST 76 STREET'),
 Row(address='57 BOND STREET'),
 Row(address='1825 MADISON AVENUE'),
 Row(address='16 WEST 19 STREET'),
 Row(address='710 RIVERSIDE DRIVE'),
 Row(address='207 WEST 79 STREET'),
 Row(address='2281 82 STREET'),
 Row(address='3411 GUIDER AVENUE'),
 Row(address='61 GREEN STREET'),
 Row(address='252 GREENE AVENUE'),
 Row(address='85 ADAMS STREET'),
 Row(address='242 SOUTH 1 STREET'),
 Row(address='28 LYNCH STREET'),
 Row(address='10002 4 AVENUE'),
 Row(address='29 FLATBUSH AVENUE'),
 Row(address='4022 8 AVENUE'),
 Row(address='92-28 QUEENS BOULEVARD'),
 Row(address='140-22 BEECH AVENUE'),
 Row(address='5\xa0EAST\xa022\xa0STREET'),
 Row(address='43\xa0EAST\xa025\xa0STREET'),
 Row(address='250\xa0EAST\xa030\xa0STREET'),
 Row(address='879\xa08\xa0AVENUE'),
 Row(address='353\xa0CENTRAL\xa0PARK\xa0WEST'),
 Row(address='132A\xa0EAST\xa065\xa0STREET'),
 Row(address='1630\xa0MADISON\xa0AVENUE'),
 Row(address='300\xa0CATHEDRAL\xa0PARKWAY'),
 Row(address='272\xa0MANHATTAN\xa0AVENUE'),
 Row(address='870\xa0JENNINGS\xa0STREET'),
 Row(address='28\xa0GARFIELD\xa0PLACE'),
 Row(address='504\xa0MYRTLE\xa0AVENUE'),
 Row(address='4\xa0LYNCH\xa0STREET'),
 Row(address='2120\xa0OCEAN\xa0AVENUE'),
 Row(address='1645\xa0RALPH\xa0AVENUE'),
 Row(address='90-70\xa051\xa0AVENUE'),
 Row(address='692 BROADWAY'),
 Row(address='100 WEST 58 STREET'),
 Row(address='364 WEST 117 STREET'),
 Row(address='49 43 AVENUE'),
 Row(address='112 QUEENS BOULEVARD'),
 Row(address='123 OAK STREET'),
 Row(address='143 84 DRIVE'),
 Row(address='61-20 WOODSIDE AVENUE'),
 Row(address='53-08 90 STREET'),
 Row(address='45 EAST 135 STREET'),
 Row(address='228 WEST 71 STREET'),
 Row(address='915 KELLY STREET'),
 Row(address='7410 RIDGE BOULEVARD'),
 Row(address='70 PROSPECT PARK SOUTHWEST'),
 Row(address='708 OCEAN AVENUE'),
 Row(address='36-40 BOWNE STREET'),
 Row(address='100\xa0SULLIVAN\xa0STREET'),
 Row(address='231\xa0WEST\xa025\xa0STREET'),
 Row(address='245\xa0EAST\xa044\xa0STREET'),
 Row(address='210\xa0EAST\xa068\xa0STREET'),
 Row(address='312\xa0EAST\xa092\xa0STREET'),
 Row(address='198\xa019\xa0STREET'),
 Row(address='1209\xa0DEKALB\xa0AVENUE'),
 Row(address='1713\xa067\xa0STREET'),
 Row(address='31-31\xa029\xa0STREET'),
 Row(address='37 75 STREET'),
 Row(address='115 STUYVESANT PLACE'),
 Row(address='77 WOODSIDE AVENUE'),
 Row(address='11 EAST 78 STREET'),
 Row(address='570 WEST END AVENUE'),
 Row(address='167 EAST 111 STREET'),
 Row(address='47 MAC DONOUGH STREET'),
 Row(address='176 EAST 3 STREET'),
 Row(address='231 LAFAYETTE STREET'),
 Row(address='320 EAST 58 STREET'),
 Row(address='1902 ADAM C POWELL BOULEV'),
 Row(address='37-28 75 STREET'),
 Row(address='218 THOMPSON STREET'),
 Row(address='302 MOTT STREET'),
 Row(address='311 WEST 111 STREET'),
 Row(address='631 BUSHWICK AVENUE'),
 Row(address='202-01 HOR HARDING EXPWY'),
 Row(address='44-30 MACNISH STREET'),
 Row(address='143-04 CHERRY AVENUE'),
 Row(address='25-66 12 STREET'),
 Row(address='220 EAST 25 STREET'),
 Row(address='516 WEST 151 STREET'),
 Row(address='1341 FRANKLIN AVENUE'),
 Row(address='550 EAST 21 STREET'),
 Row(address='3133 BRIGHTON 7 STREET'),
 Row(address='168 INDIA STREET'),
 Row(address='135\xa0WILLIAM\xa0STREET'),
 Row(address='35\xa0WEST\xa065\xa0STREET'),
 Row(address='2198\xa0WALLACE\xa0AVENUE'),
 Row(address='31 90 STREET'),
 Row(address='35 153 STREET'),
 Row(address='155 GARFIELD PLACE'),
 Row(address='353 FT WASHINGTON AVENUE'),
 Row(address='1112 CARROLL PLACE'),
 Row(address='446 ALABAMA AVENUE'),
 Row(address='42-07 WHITNEY AVENUE'),
 Row(address='159-10 71 AVENUE'),
 Row(address='90-20 169 STREET'),
 Row(address='346 WEST 51 STREET'),
 Row(address='3120 BUHRE AVENUE'),
 Row(address='26-14 JACKSON AVENUE'),
 Row(address='423\xa0WEST\xa0BROADWAY'),
 Row(address='993\xa0PRESIDENT\xa0STREET'),
 Row(address='8502\xa04\xa0AVENUE'),
 Row(address='2095 CRUGER AVENUE'),
 Row(address='6224 BAY PARKWAY'),
 Row(address='1469 PRESIDENT STREET'),
 Row(address='199 EAST 2 STREET'),
 Row(address='719 WEST 180 STREET'),
 Row(address='2415 PROSPECT AVENUE'),
 Row(address='426 WEST BROADWAY'),
 Row(address='420 EAST 86 STREET'),
 Row(address='532 WEST 22 STREET'),
 Row(address='21 WEST END AVENUE'),
 Row(address='3120 CORLEAR AVENUE'),
 Row(address='1638 8 AVENUE'),
 Row(address='2424 OCEAN AVENUE'),
 Row(address='78-03 19 DRIVE'),
 Row(address='41-07 BOWNE STREET'),
 Row(address='81-18 QUEENS BOULEVARD'),
 Row(address='85-23 BROADWAY'),
 Row(address='148-09 NORTHERN BOULEVARD'),
 Row(address='31-12 UNION STREET'),
 Row(address='105-25 88 STREET'),
 Row(address='107\xa0AVENUE\xa0A'),
 Row(address='33\xa0BETHUNE\xa0STREET'),
 Row(address='209\xa0WEST\xa014\xa0STREET'),
 Row(address='441\xa05\xa0AVENUE'),
 Row(address='20\xa0EAST\xa068\xa0STREET'),
 Row(address='303\xa0EAST\xa077\xa0STREET'),
 Row(address='201\xa0EAST\xa080\xa0STREET'),
 Row(address='301\xa0CATHEDRAL\xa0PARKWAY'),
 Row(address='300\xa0WEST\xa0137\xa0STREET'),
 Row(address='2044\xa0WESTCHESTER\xa0AVENUE'),
 Row(address='85\xa0ADAMS\xa0STREET'),
 Row(address='304\xa0HENRY\xa0STREET'),
 Row(address='63\xa0TIFFANY\xa0PLACE'),
 Row(address='382\xa0EASTERN\xa0PARKWAY'),
 Row(address='180\xa0MYRTLE\xa0AVENUE'),
 Row(address='69\xa0SOUTH\xa0OXFORD\xa0STREET'),
 Row(address='96\xa0WOODPOINT\xa0ROAD'),
 Row(address='269\xa0MESEROLE\xa0STREET'),
 Row(address='85\xa0GRAHAM\xa0AVENUE'),
 Row(address='1552\xa0MYRTLE\xa0AVENUE'),
 Row(address='182\xa0BAY\xa022\xa0STREET'),
 Row(address='23-15\xa044\xa0DRIVE'),
 Row(address='213 EAST 77 STREET'),
 Row(address='308 EAST 72 STREET'),
 Row(address='181 EAST 90 STREET'),
 Row(address='23 21 AVENUE'),
 Row(address='107 WEST 68 STREET'),
 Row(address='150 WEST 21 STREET'),
 Row(address='313 EAST 5 STREET'),
 Row(address='346 WEST END AVENUE'),
 Row(address='42 WEST 83 STREET'),
 Row(address='53 PERRY STREET'),
 Row(address='658 MONTGOMERY STREET'),
 Row(address='7314 21 AVENUE'),
 Row(address='151\xa0EAST\xa090\xa0STREET'),
 Row(address='1900\xa0LEXINGTON\xa0AVENUE'),
 Row(address='680\xa0FT\xa0WASHINGTON\xa0AVENUE'),
 Row(address='3555\xa0OXFORD\xa0AVENUE'),
 Row(address='313\xa0CUMBERLAND\xa0STREET'),
 Row(address='499\xa0WASHINGTON\xa0AVENUE'),
 Row(address='22-10\xa0BROOKHAVEN\xa0AVENUE'),
 Row(address='12\xa0HILLCREST\xa0AVENUE'),
 Row(address='27 HENRY STREET'),
 Row(address='214 EAST 24 STREET'),
 Row(address='35 WEST 65 STREET'),
 Row(address='242 WEST 64 STREET'),
 Row(address='555 EAST 78 STREET'),
 Row(address='2481 BROADWAY'),
 Row(address='610 ST NICHOLAS AVENUE'),
 Row(address='2980 BRIGGS AVENUE'),
 Row(address='93 UNDERHILL AVENUE'),
 Row(address='35 75 STREET'),
 Row(address='41 77 STREET'),
 Row(address='56 56 AVENUE'),
 Row(address='145 WEST 71 STREET'),
 Row(address='210 WEST 89 STREET'),
 Row(address='3840 ORLOFF AVENUE'),
 Row(address='158 5 AVENUE'),
 Row(address='48 38 STREET'),
 Row(address='760 3 AVENUE'),
 Row(address='49 EAST 73 STREET'),
 Row(address='227 WEST 105 STREET'),
 Row(address='440 WEST 47 STREET'),
 Row(address='3975 CARPENTER AVENUE'),
 Row(address='150-10 79 AVENUE'),
 Row(address='43-23 ITHACA STREET'),
 Row(address='5619 15 AVENUE'),
 Row(address='384 BROOME STREET'),
 Row(address='190 SOUTH 8 STREET'),
 Row(address='17 LEXINGTON AVENUE'),
 Row(address='102-25 67 DRIVE'),
 Row(address='40 PROSPECT STREET'),
 Row(address='384 EAST 10 STREET'),
 Row(address='27-10 30 AVENUE'),
 Row(address='119-20 UNION TURNPIKE'),
 Row(address='58-06 43 AVENUE'),
 Row(address='279 EAST 92 STREET'),
 Row(address='745 DEKALB AVENUE'),
 Row(address='41-19 53 STREET'),
 Row(address='525\xa0WEST\xa047\xa0STREET'),
 Row(address="357 ST JOHN'S PLACE"),
 Row(address='890 HANCOCK STREET'),
 Row(address='222 1 AVENUE'),
 Row(address='154 EAST 106 STREET'),
 Row(address='412 AMSTERDAM AVENUE'),
 Row(address='156 EAST 30 STREET'),
 Row(address='351 92 STREET'),
 Row(address='236\xa0EAST\xa082\xa0STREET'),
 Row(address='281\xa0EDGECOMBE\xa0AVENUE'),
 Row(address='170\xa0HAWTHORNE\xa0STREET'),
 Row(address='1775\xa0EAST\xa013\xa0STREET'),
 Row(address='47-25\xa048\xa0STREET'),
 Row(address='47 SKILLMAN AVENUE'),
 Row(address='3110 BAILEY AVENUE'),
 Row(address='33-51 73 STREET'),
 Row(address='2512 BROADWAY'),
 Row(address='573 WARREN STREET'),
 Row(address='139 ESSEX STREET'),
 Row(address='42 HICKS STREET'),
 Row(address='1438 OCEAN AVENUE'),
 Row(address='141 EAST 55 STREET'),
 Row(address='102 WEST 75 STREET'),
 Row(address='377\xa0RECTOR\xa0PLACE'),
 Row(address='171 WEST 131 STREET'),
 Row(address='269 EAST BURNSIDE AVENUE'),
 Row(address='544 5 AVENUE'),
 Row(address='1009 BROADWAY'),
 Row(address='590 FULTON STREET'),
 Row(address='86 FLEET PLACE'),
 Row(address='525 MYRTLE AVENUE'),
 Row(address='175-24 89 AVENUE'),
 Row(address='39-06 108 STREET'),
 Row(address='99-31 66 AVENUE'),
 Row(address='31 HYLAN BOULEVARD'),
 Row(address='30\xa0WEST\xa0STREET'),
 Row(address="15\xa0ST\xa0MARK'S\xa0PLACE"),
 Row(address='10\xa0MADISON\xa0SQUARE\xa0WEST'),
 Row(address='312\xa0EAST\xa022\xa0STREET'),
 Row(address='146\xa0WEST\xa057\xa0STREET'),
 Row(address='993\xa0LEXINGTON\xa0AVENUE'),
 Row(address='402\xa0EAST\xa090\xa0STREET'),
 Row(address='514\xa0CATHEDRAL\xa0PARKWAY'),
 Row(address='30\xa0MAIN\xa0STREET'),
 Row(address='340\xa011\xa0STREET'),
 Row(address='925\xa0PACIFIC\xa0STREET'),
 Row(address='27\xa0ALBANY\xa0AVENUE'),
 Row(address='82\xa0IRVING\xa0PLACE'),
 Row(address='161\xa0NORTH\xa04\xa0STREET'),
 Row(address='369\xa0BERRY\xa0STREET'),
 Row(address='21\xa0POWERS\xa0STREET'),
 Row(address='2882\xa0WEST\xa015\xa0STREET'),
 Row(address='14-25\xa0BROADWAY'),
 Row(address='60-15\xa0MYRTLE\xa0AVENUE'),
 Row(address='132-36\xa0POPLE\xa0AVENUE'),
 Row(address='71-59\xa0160\xa0STREET'),
 Row(address='109-18\xa0LEFFERTS\xa0BOULEVARD'),
 Row(address='250 SOUTH END AVENUE'),
 Row(address='300 RECTOR PLACE'),
 Row(address='40 MERCER STREET'),
 Row(address='157 EAST 32 STREET'),
 Row(address='535 WEST END AVENUE'),
 Row(address='988 5 AVENUE'),
 Row(address='529 COURT STREET'),
 Row(address='43 UNION STREET'),
 Row(address='132 POPLE AVENUE'),
 Row(address='89 175 STREET'),
 Row(address='1890 ADAM C POWELL BOULEVARD'),
 Row(address='28 EAST 36 STREET'),
 Row(address='226 EAST 119 STREET'),
 Row(address='2 BRADHURST AVENUE'),
 Row(address='412 WEST 148 STREET'),
 Row(address='188 CLAREMONT AVENUE'),
 Row(address='2704 UNIVERSITY AVENUE'),
 Row(address='3205 EMMONS AVENUE'),
 Row(address='37-35 90 STREET'),
 Row(address='313\xa0WEST\xa030\xa0STREET'),
 Row(address='421\xa0WEST\xa024\xa0STREET'),
 Row(address='219\xa0EAST\xa081\xa0STREET'),
 Row(address='225\xa0CENTRAL\xa0PARK\xa0NORTH'),
 Row(address='3015\xa0PERRY\xa0AVENUE'),
 Row(address='4710\xa04\xa0AVENUE'),
 Row(address='1552\xa0PRESIDENT\xa0STREET'),
 Row(address='191\xa0SOUTH\xa09\xa0STREET'),
 Row(address='1621\xa065\xa0STREET'),
 Row(address='1159\xa0BRIGHTON\xa0BEACH\xa0AVENUE'),
 Row(address='94-45\xa086\xa0ROAD'),
 Row(address='131 EAST 23 STREET'),
 Row(address='346 EAST 87 STREET'),
 Row(address='997 EAST 163 STREET'),
 Row(address='426 LAFAYETTE AVENUE'),
 Row(address='2225 64 STREET'),
 Row(address='315 WEST 57 STREET'),
 Row(address='113 EAST 102 STREET'),
 Row(address='602 COLUMBUS AVENUE'),
 Row(address='35 EAST 32 STREET'),
 Row(address='1829 EAST 14 STREET'),
 Row(address='6301 23 AVENUE'),
 Row(address='100-01 92 AVENUE'),
 Row(address='102-02 QUEENS BOULEVARD'),
 Row(address='121 EAST 90 STREET'),
 Row(address='506 WEST 113 STREET'),
 Row(address='680 JEFFERSON AVENUE'),
 Row(address='112 EAST 11 STREET'),
 Row(address='198 1 AVENUE'),
 Row(address='249 CUMBERLAND STREET'),
 Row(address='1702 DAHILL ROAD'),
 Row(address='1009 PARK AVENUE'),
 Row(address='1315 WEST 7 STREET'),
 Row(address='140 EAST 7 STREET'),
 Row(address='206 EAST 70 STREET'),
 Row(address='51 WEST 84 STREET'),
 Row(address='5-11 47 AVENUE'),
 Row(address='163 NORTH 6 STREET'),
 Row(address='1058\xa0MADISON\xa0AVENUE'),
 Row(address='1050\xa0LAFAYETTE\xa0AVENUE'),
 Row(address='387\xa0BLEECKER\xa0STREET'),
 Row(address='1215\xa0OCEAN\xa0AVENUE'),
 Row(address='40-11\xa0BROADWAY'),
 Row(address='290 RIVERSIDE DRIVE'),
 Row(address='2053 FREDRICK DOUGLASS BL'),
 Row(address="950 ST MARK'S AVENUE"),
 Row(address='115 EAST 102 STREET'),
 Row(address='312 WEST 121 STREET'),
 Row(address='1719 QUENTIN ROAD'),
 Row(address='20 WEST 10 STREET'),
 Row(address='1325\xa0GRAND\xa0CONCOURSE'),
 Row(address='1870\xa0PELHAM\xa0PARKWAY\xa0SOUTH'),
 Row(address='306\xa0STUYVESANT\xa0AVENUE'),
 Row(address='3108\xa0BRIGHTON\xa05\xa0STREET'),
 Row(address='3010\xa0BRIGHTON\xa012\xa0STREET'),
 Row(address='189-14\xa0CROCHERON\xa0AVENUE'),
 Row(address='1420 PROSPECT AVENUE'),
 Row(address='35 84 STREET'),
 Row(address='421 WEST 56 STREET'),
 Row(address='3036 BAILEY AVENUE'),
 Row(address='974 47 STREET'),
 Row(address='40-40 79 STREET'),
 Row(address='2015 BAY RIDGE AVENUE'),
 Row(address='335 EAST 13 STREET'),
 Row(address='1432 WEST 5 STREET'),
 Row(address='26 EAST 63 STREET'),
 Row(address='12 WEST 9 STREET'),
 Row(address='55 EAST 115 STREET'),
 Row(address='775 COLUMBUS AVENUE'),
 Row(address='416 WEST 52 STREET'),
 Row(address='9921 4 AVENUE'),
 Row(address='8666 23 AVENUE'),
 Row(address='626 SUTTER AVENUE'),
 Row(address='90 NORTH 5 STREET'),
 Row(address='1166 ELTON STREET'),
 Row(address='35-20 LEVERICH STREET'),
 Row(address='122-15 25 ROAD'),
 Row(address='5926 BLEECKER STREET'),
 Row(address='23-10 41 AVENUE'),
 Row(address='149\xa0WOOSTER\xa0STREET'),
 Row(address='130\xa0WEST\xa012\xa0STREET'),
 Row(address='385\xa03\xa0AVENUE'),
 Row(address='510\xa0WEST\xa052\xa0STREET'),
 Row(address='60\xa0EAST\xa055\xa0STREET'),
 Row(address='1601\xa03\xa0AVENUE'),
 Row(address='229\xa0WEST\xa097\xa0STREET'),
 Row(address='456\xa0WEST\xa0167\xa0STREET'),
 Row(address='101\xa0SOUTH\xa05TH\xa0STREET'),
 Row(address='143\xa0HURON\xa0STREET'),
 Row(address='415\xa0LEONARD\xa0STREET'),
 Row(address='406\xa0LORIMER\xa0STREET'),
 Row(address='63-85\xa0WOODHAVEN\xa0BOULEVARD'),
 Row(address='31-38\xa0137\xa0STREET'),
 Row(address='121\xa0WELLINGTON\xa0COURT'),
 Row(address='211 MADISON AVENUE'),
 Row(address='3429 GUIDER AVENUE'),
 Row(address='775 RIVERSIDE DRIVE'),
 Row(address='250 WEST 105 STREET'),
 Row(address='214 EAST 51 STREET'),
 Row(address='1576 TAYLOR AVENUE'),
 Row(address='117 15 STREET'),
 Row(address='665 ST MARKS AVENUE'),
 Row(address='96 HART STREET'),
 Row(address='142-02 84 DRIVE'),
 Row(address='86-11 WHITNEY AVENUE'),
 Row(address='1454\xa0WALTON\xa0AVENUE'),
 Row(address='1327\xa046\xa0STREET'),
 Row(address='399 CHAMBERS STREET'),
 Row(address='747 2 AVENUE'),
 Row(address='236 EAST 24 STREET'),
 Row(address='25 WEST 84 STREET'),
 Row(address='294 BROOME STREET'),
 Row(address='47-01 49 STREET'),
 Row(address='307 EAST 44 STREET'),
 Row(address='326 EAST 53 STREET'),
 Row(address='122 31 STREET'),
 Row(address='41-24 50 STREET'),
 Row(address='25 EAST 10 STREET'),
 Row(address='105 EAST 10 STREET'),
 Row(address='80 MORNINGSIDE DRIVE'),
 Row(address='1222 BOSTON ROAD'),
 Row(address='103 NORTH 3 STREET'),
 Row(address='601 40 STREET'),
 Row(address='350 SHEFFIELD AVENUE'),
 Row(address='3 SPENCER COURT'),
 Row(address='9-01 44 DRIVE'),
 Row(address='133 EAST 17 STREET'),
 Row(address='772 ST NICHOLAS AVENUE'),
 Row(address='207 EAST 27 STREET'),
 Row(address='89-11 63 DRIVE'),
 Row(address='1514 WEST 8 STREET'),
 Row(address='40 WOODRUFF AVENUE'),
 Row(address='21-16 31 AVENUE'),
 Row(address='211\xa0CLINTON\xa0STREET'),
 Row(address='871\xa0GRAND\xa0STREET'),
 Row(address='192 MALCOLM X BOULEVARD'),
 Row(address='208 WEST 151 STREET'),
 Row(address='119-40 UNION TURNPIKE'),
 Row(address='211-63 46 AVENUE'),
 Row(address='48-50 37 STREET'),
 Row(address='33-26 UNION STREET'),
 Row(address='150\xa074\xa0STREET'),
 Row(address='1583\xa0PROSPECT\xa0PLACE'),
 Row(address='209\xa0SOUTH\xa03\xa0STREET'),
 Row(address='2060\xa0PITKIN\xa0AVENUE'),
 Row(address='1030\xa0OCEAN\xa0AVENUE'),
 Row(address='42-63\xa0LAYTON\xa0STREET'),
 Row(address='1973 AMSTERDAM AVENUE'),
 Row(address='2222 EAST 18 STREET'),
 Row(address='1601 BEDFORD AVENUE'),
 Row(address='3520 OLINVILLE AVENUE'),
 Row(address='27 1 AVENUE'),
 Row(address='263 74 STREET'),
 Row(address='8705 BAY PARKWAY'),
 Row(address='34-21 102 STREET'),
 Row(address='386 COLUMBUS AVENUE'),
 Row(address='531 WEST 159 STREET'),
 Row(address='55 POPLAR STREET'),
 Row(address='717 BEDFORD AVENUE'),
 Row(address='3041 OCEAN AVENUE'),
 Row(address='25-87 37 STREET'),
 Row(address='1-55 BORDEN AVENUE'),
 Row(address='90-09 160 STREET'),
 Row(address='162\xa0WEST\xa056\xa0STREET'),
 Row(address='245\xa0EAST\xa050\xa0STREET'),
 Row(address='838\xa05\xa0AVENUE'),
 Row(address='435\xa0EAST\xa076\xa0STREET'),
 Row(address='1420\xa0YORK\xa0AVENUE'),
 Row(address='988\xa05\xa0AVENUE'),
 Row(address='401\xa0EAST\xa084\xa0STREET'),
 Row(address='469\xa0WEST\xa0152\xa0STREET'),
 Row(address='535\xa0UNION\xa0AVENUE'),
 Row(address='100\xa0AMITY\xa0STREET'),
 Row(address='501\xa0HICKS\xa0STREET'),

In [155]:
!pip install pyspark-pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark-pandas in ./.local/lib/python3.9/site-packages (0.0.7)
Requirement already satisfied: pandas in ./.local/lib/python3.9/site-packages (from pyspark-pandas) (1.5.2)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.9/site-packages (from pandas->pyspark-pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.local/lib/python3.9/site-packages (from pandas->pyspark-pandas) (2.8.2)
Requirement already satisfied: numpy>=1.20.3 in ./.local/lib/python3.9/site-packages (from pandas->pyspark-pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas->pyspark-pandas) (1.10.0)

In [169]:
#rzutowanie dla danych nowego yorku
df_trans = df_nypd
df_trans = df_nypd.withColumn("Year",year("rpt_dt"))
df_trans.select(col("Year")).show()

+----+
|Year|
+----+
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2013|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
|2018|
+----+
only showing top 20 rows

In [145]:
df_trans.select(year(col('rpt_dt'))).show()

+------------+
|year(rpt_dt)|
+------------+
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2013|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
|        2018|
+------------+
only showing top 20 rows

## Wizualizacja i analiza danych w notatniku (z bazy z zagregowanymi danymi)

In [24]:
#wczytanie narzędzi do wizualizacji
import matplotlib as plt
import pandas as pd
import numpy as np

In [38]:
#bazy danych w mogodb
df = spark.read.format("mongodb").load()
df.show()

+--------------------+-------+-----+---------+--------------------+--------------+---------+-------------+--------+-------+----+
|                 _id|boro_nm|count|ofns_desc|        station_name|susp_age_group|susp_race|vic_age_group|vic_race|vic_sex|   x|
+--------------------+-------+-----+---------+--------------------+--------------+---------+-------------+--------+-------+----+
|63ba089c029e8a4bf...|   null| null|     null|                null|          null|     null|         null|    null|   null| 1.0|
|63ba7bc10fb636657...|   null|    3|     null|      148 ST.-HARLEM|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    5|     null|        COURT SQUARE|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    4|     null|       MOSHOLU PKWY.|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    6|     null|VERNON BLVD.-JACK...|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    6|     null|      207 ST.-INWOOD|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    1|     null|      FREEMAN STREET|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    5|     null|        PELHAM PKWY.|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    1|     null|       CYPRESS HILLS|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    1|     null|    JEFFERSON STREET|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    2|     null|       ZEREGA AVENUE|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    9|     null|   MAIN ST.-FLUSHING|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    2|     null|        STEINWAY ST.|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    1|     null|AQUEDUCT-NORTH CO...|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    3|     null|         96TH STREET|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    9|     null|       EUCLID AVENUE|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    5|     null|  BROADWAY/LAFAYETTE|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    1|     null|      CARROLL STREET|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    2|     null|        RALPH AVENUE|          null|     null|         null|    null|   null|null|
|63ba7bc10fb636657...|   null|    5|     null|     74 ST.-BROADWAY|          null|     null|         null|    null|   null|null|
+--------------------+-------+-----+---------+--------------------+--------------+---------+-------------+--------+-------+----+
only showing top 20 rows